@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-Light.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: "Figtree" !important;
  color: #4b5a63;
  background-color: #eeeff1;
}
/* 
* These styles were added to improve the appearance of the example pages.
* It is safe to delete them, and they are not intended to be used by Refine components.
*/


.react-tel-input .flag-dropdown {
  background-color: white !important;
  border-right: 0px !important;
}

.react-tel-input .form-control {
  width: 100% !important;
}

.ant-table-cell {
  background-color: white !important;
}

.rpv-core__inner-page {
  background-color: #eeeff1 !important;
}