@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, sans-serif;
}
/* 
* These styles were added to improve the appearance of the example pages.
* It is safe to delete them, and they are not intended to be used by Refine components.
*/


